EXPO_PUBLIC_SUPABASE_URL=https://rryuiyxlfzanfauuwapf.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_srr3QzSgPWq2xNUp1Inyjw_Mos-BSUk
EXPO_PUBLIC_SITE_URL=https://loja-da-dedeia.vercel.app
